header nav, .header-buttons, .hero-text, .carousel-links, .categories-title, .footer-top, .newsletter-form, .social-networks, .social-networks ul, .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  background: none;
}

header {
  background: url("../images/hero-image.png") center/cover no-repeat;
}

header nav {
  background-color: rgba(24, 24, 19, 0.7);
  justify-content: center;
  position: relative;
  padding: 1em 0;
}

#large-logo {
  display: none;
}

#small-logo {
  max-width: 5em;
}

.menu-icon {
  position: absolute;
  padding-left: 1.25em;
  left: 0;
}

.menu-icon img {
  max-width: 2em;
}

.header-buttons {
  position: absolute;
  padding-right: 1.25em;
  right: 0;
}

.header-buttons img {
  max-width: 1.75em;
}

.header-buttons a:last-child {
  margin-left: 1.5em;
}

.hero-section {
  /* FOR DESKTOP */
}

.hero-arrow {
  display: none;
  /* FOR DESKTOP */
}

.hero-text {
  text-align: center;
  flex-direction: column;
  line-height: 1.5;
  padding: 0 1.25em;
}

.hero-text h1:nth-child(1),
.hero-text h1:nth-child(3) {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
}

.hero-text h1:nth-child(1) {
  letter-spacing: 0.2rem;
  margin: 2em;
}

.hero-text h1:nth-child(2) {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: .5em 0;
}

.hero-text h1:nth-child(3) {
  font-weight: 400;
  margin-bottom: .5em;
}

.btn {
  margin: 2em 0;
}

.btn a, .btn button {
  background-color: #FFB338;
  color: #181813;
  font-weight: 700;
  display: block;
  padding: 1em 2em;
  border-radius: 30px;
  margin: auto;
  font-size: 1rem;
}

.carousel-links button:first-child {
  background-color: white;
}

.carousel-links button {
  background: none;
  border: 2px solid white;
  width: 1em;
  height: 1em;
  border-radius: 100em;
  margin: 2em .25em;
}

.featured-section {
  padding: 5em 1.25em 1em;
  text-align: center;
}

.featured-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 3em 0 1.5em;
  gap: 1em;
}

.featured-products div {
  display: none;
}

.featured-products div:nth-child(1),
.featured-products div:nth-child(2),
.featured-products div:nth-child(3),
.featured-products div:nth-child(4) {
  display: block;
}

.products-section {
  background-color: #f7f7f7;
  text-align: center;
  padding: 3em 0;
}

.products-section h2, .products-section ul {
  padding: 0 1.25em;
}

.categories-title {
  /* LATER TEST GRID WITH SELECTED BORDER TRANSITION */
  align-items: flex-start;
  margin: 3em 0;
}

.categories-title button {
  padding-bottom: .3em;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.categorie-selected::after {
  content: '';
  display: block;
  width: 60%;
  margin: 0px auto;
  border-top: 3px solid #FFB338;
}

.categories-products {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.25em;
  padding: 0 0 2em 1.25em;
}

.categories-products div {
  width: 322px;
}

.categories-products::after {
  content: '';
  display: block;
  width: 0.1px;
}

footer {
  padding: 3em 1.25em;
  background-color: #181813;
  color: white;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05rem;
}

.footer-top {
  flex-direction: column;
  align-items: stretch;
}

.footer-top::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin: 1.5em 0;
  background-color: white;
}

.newsletter-form {
  flex-direction: column;
  align-items: stretch;
}

.newsletter-form label {
  font-size: 1.125rem;
  font-weight: 700;
}

.newsletter-form div {
  margin: 1.5em 0;
  display: flex;
  justify-content: flex-start;
  background-color: #292929;
  border-radius: 100em;
  width: 75%;
}

.newsletter-form img {
  padding: 1em;
}

.newsletter-form input {
  width: 100%;
  border-radius: 100em 0 0 100em;
  padding: 1em 0 1em 1em;
  color: white;
  letter-spacing: 0.05rem;
  font-size: 0.75rem;
}

.newsletter-form input::placeholder {
  color: white;
  opacity: 0.8;
}

.social-networks {
  justify-content: flex-start;
  font-weight: 700;
  margin: 2em 0;
}

.social-networks ul {
  margin-left: 1em;
}

.social-networks ul li {
  margin-right: 1em;
}

.footer-bottom {
  flex-direction: column;
  margin-top: 2em;
}

.footer-bottom div {
  font-size: 0.875rem;
}

.footer-bottom div:last-child {
  font-weight: 700;
}

.footer-logo {
  margin: 4em 0;
}
