@import "config";

.hero-section {
	/* FOR DESKTOP */
}

.hero-arrow {
	display: none;
	/* FOR DESKTOP */
}

.hero-text {
	text-align: center;
	@extend %flex;
	flex-direction: column;
	line-height: 1.5;
	padding: 0 $m-pad;

	h1:nth-child(1),
	h1:nth-child(3) {
		font-size: 1.25rem;
		font-family: 'Inter', sans-serif;
	}
	

	h1:nth-child(1) {
		letter-spacing: 0.2rem;
		margin: 2em;
	}
	
	h1:nth-child(2) {
		font-family: 'Merriweather', serif;
		font-size: 1.5rem;
		font-weight: 400;
		margin: .5em 0;
	}
	
	h1:nth-child(3) {
		font-weight: 400;
		margin-bottom: .5em;
	}
}

.btn {
	margin: 2em 0;
	a, button {
		background-color: $secondaryColor;
		color: $primaryColor;
		font-weight: 700;
		display: block;
		padding: 1em 2em;
		border-radius: 30px;
		margin: auto;
		font-size: 1rem
	}
}

.carousel-links {
	@extend %flex;
	button:first-child {
		background-color: white;
	}

	button {
		background: none;
		border: 2px solid white;
		width: 1em;
		height: 1em;
		border-radius: 100em;
		margin: 2em .25em;
	}
}

.featured-section {
	padding: 5em $m-pad 1em;
	text-align: center;
}

.featured-products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	margin: 3em 0 1.5em;
	gap: 1em;
	
	div {
		display: none;
	}

	div:nth-child(1),
	div:nth-child(2),
	div:nth-child(3),
	div:nth-child(4) {
		display: block;
	}
}

.products-section {
	background-color: #f7f7f7;
	text-align: center;
	padding: 3em 0;
	
	h2, ul {
		padding: 0 $m-pad;
	}
}

.categories-title {
	/* LATER TEST GRID WITH SELECTED BORDER TRANSITION */
	@extend %flex;
	align-items: flex-start;
	margin: 3em 0;
	button {
		padding-bottom: .3em;
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 0.05rem;
	}
}

.categorie-selected::after {
	content: '';
	display: block;
	width: 60%;
	margin: 0px auto;
	border-top: 3px solid $secondaryColor;
}

.categories-products {
	overflow-x: auto;
	display: grid;
	grid-template-columns: repeat(10000, 1fr);
	column-gap: $m-pad;
	padding: 0 0 2em $m-pad;
	div {
		width: 85vw;
	}

	&::after {
		content: '';
		display: block;
		width: 0.1px;
	}

}
