@import "config";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

html {
	line-height: 1.15; 
	-webkit-text-size-adjust: 100%; 
}

body {
	width: 100%;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 3em;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 2.625em;
}

h3 {
	font-family: 'Inter', sans-serif;
	font-size: 1.5em;
}

button {
	background-color: $secondaryColor;
	outline: none;
	border: none;
	color: $primaryColor;
	font-size: 1.125em;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	border-radius: 1.875em;
	padding: 1em 2em;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: url('/images/hero-image.png') no-repeat bottom;
	background-size: cover;
	margin-bottom: 6em;
	
	& > div:first-child {
		opacity: 0.7;
		background-color: $primaryColor;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5em 6em;
		box-shadow: $primaryColor 0px 4px 4px;

		& > div:first-of-type, & > div:last-of-type {
			flex: 1;
			display: flex;
			align-items: center;
		}

		& > div:last-of-type {
			justify-content: flex-end;
			column-gap: 3em;
			& > span {
			}
		}

		& > div:first-of-type {
			justify-content: flex-start;
		}
	}

	& > div:last-child {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		& > .hero-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid #000 ;
			border-radius: 100%;
			width: 6.125em;
			height: 6.125em;
		}

		& > .hero-text {
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			& > h3:first-child {
				margin: 2.5em 0 2em;
				letter-spacing: 0.2em;
			}
			
			& > h2 {
				font-weight: 400;
				margin-bottom: .5em;
			}
			
			& > h3:last-of-type {
				line-height: 1.4em;
				font-weight: 400;
				padding: 0 auto;
				width: 50%;
				margin-bottom: 1em;
			}

			& > button {
				margin-bottom: 5em;
			}

			& > .carousel-links {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 2em 0;
				& > span {
					border: 2px solid #fff;
					width: 1.5625em;
					height: 1.5625em;
					margin: 0 .5em;
					border-radius: 100%;
				}

				& > span:first-of-type {
					background-color: #fff;
				}
			}
		}
	}

}

main {
	.section1 {
		padding: 0 6em;
		margin-bottom: 3em;
		& > h1 {
			margin-bottom: 1em;
		}
		& > div {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 2em;
			margin-bottom: 3em;

			& > div > img {
				// border: 4px solid $secondaryColor;
				// border-radius: 1em;
			}
			
			.middle-image {
				padding-top: 2em;
			}
		}
	}

	.section2 {
		padding: 4em 6em 10em;
		background-color: #f7f7f7;

		& > h2 {
			font-size: 2.25em;
			margin-bottom: 1em;
		}

		& > nav > ul {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 5em;

			& > li {
				font-family: 'Inter', sans-serif;
				margin: 0 1.5em;
				font-size: 1.5rem;
				font-weight: 500;
				letter-spacing: 0.050em;
			}
		}

		& > div:first-of-type {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 3em;
			margin-bottom: 2em;
		}

		& > div:last-of-type {
			background-color: #c9c9c9;
			width: 100%;
			height: 0.625em;
			position: relative;

			& > span {
				background-color: #6e6e6e;
				width: 30%;
				left: 20%;
				position: absolute;
				height: 100%;
			}
		}
	}
}

footer {
	background-color: $primaryColor;
	color: #f2f2f2;
	font-family: 'Inter', sans-serif;

	& > div:first-of-type {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #f2f2f2;
		padding: 2em 6em;

		& > div:first-of-type {
			width: 48%;
			& > form {
				display: flex;
				align-items: center;

				& > label {
					font-weight: 700;
					margin-right: .5em;
					font-size: 1.125em;
					letter-spacing: 0.05625em;
				}

				& > div {
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-around;
					padding: 0 1em;
					background-color: #292929;
					border-radius: 1.25em;
					width: 15.625em;
					
					& > input {
						background-color: #292929;
						padding: 0.875em 0;
						font-size: 0.75em;
						outline: none;
						color: #f2f2f2;
						font-family: 'Inter', sans-serif;
						letter-spacing: 0.05625em;
						font-weight: 400;
						border: none;
						text-align: left;
					}
				}
			}
		}
		
		& > span {
			width: 1px;
			height: 3em;
			background-color: #f2f2f2;
			margin: 0 auto;
		}

		& > div:last-of-type {
			width: 48%;
			display: flex;
			align-items: center;
			justify-content: center;

			& > div {
				margin-right: 1.5em;
				font-weight: bold;
				font-size: 1.125em;
			}

			& > ul {
				list-style: none;
				display: flex;
				align-items: center;
				& > li {
					margin: 0 .5em;
				}
			}
		}

	}


	& > div:last-of-type {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 4em 6em 2.5em;
		font-size: 0.875em;


		& > div:nth-of-type(1){
		}
		
		& > div:nth-of-type(2){
			width: 6.1875em;
		}
		
		& > div:nth-of-type(3){
			font-weight: bold;
		}

	}

}


@media (min-width:576px) {
	html {
	  font-size: 10px;
	}
  }
  @media (min-width:850px) {
	html {
	  font-size: 12px;
	}
  }
  @media (min-width:1200px) {
	html {
	  font-size: 16px;
	}
  }